/* ----------------------------------------------- */

/* SECTION-HOME */

/* ----------------------------------------------- */

@media (max-width: 1200px) { 

 

    .col-home {
        &__text {
            margin-left: 60px;
        }
    }
}

@media (max-width: 992px) { 
 

    .col-home {
        &__heading {
            font-size: 47px;
            color: red;
        }
        
        &__text {
            margin-left: 15px;
        }
    }  
}

@media (max-width: 576px) {
    .col-home {
       
        &__heading {
            font-size: 40px !important;
        }
        
        &__text {
            margin-left: 40px; 
        }
    }
}

/* ----------------------------------------------- */

/* SECTION-ABOUT */

/* ----------------------------------------------- */


@media (max-width: 1200px){
    
}

@media (max-width: 768px) {
    .col-about__heading {
        text-align: center;
        // padding-bottom: 70px;

    }
    
    .col-about__text {
        font-size: 21px;
        padding-left: 15px;
    }
    
    .col-about__figure {
        text-align: center;
    }
    
    .col-information {
    text-align: center;
    padding-bottom: 15px;
 
    &__heading {
    padding-top: 20px;        
        }    
        
    &__text {
    font-size: 17px;
    text-align: right;
    margin-right: 0; 
    padding-bottom: 0; 
    }
    }
}


@media (max-width: 576px) {
    .col-about__heading {
        text-align: center;
       
    }
    
    .col-about__text {
        font-size: 21px;
        padding-left: 15px;
    }
    
    .col-about__step {
    font-size: 15px;
}
    
    .col-about__step--point {
        margin-left: 15px;
    }
    
    .col-information {
    text-align: center;
    padding-bottom: 15px;
 
    &__heading {
    font-size: 32px;
    padding-top: 20px;  
    padding-right: 0;
    padding-bottom: 10px;
   
}
        
        
    &__text {
    font-size: 19px;
    text-align: center;
    margin-right: 0; 
    padding-bottom: 0; 
    }
    
    }    
    
    }
    



/* ----------------------------------------------- */

/* SECTION-FEATURES */

/* ----------------------------------------------- */


@media (max-width: 768px) {
    
    .col-features {
        &__heading {
           text-align: center;  
        }
        
        &__text {
            text-align: center;
            margin-bottom: 60px;
        }
    
        &__heading-secondary {
            text-align: center;
            font-size: 20px;
            padding-bottom: 7px;
        }
        
        &__text--2 {
            text-align: center;
            font-size: 17px;
        }
    }
}


@media (max-width: 576px) {
    
 .col-features {
        &__heading {
           text-align: center;  
        }
        
        &__text {
            text-align: center;
            margin-bottom: 60px;
            padding-left: 9px;
        }
    
        &__heading-secondary {
            text-align: center;
            font-size: 18px;
            padding-bottom: 7px;
        }
        
        &__text--2 {
            text-align: center;
            font-size: 15px;
        }
    }
}


/* ----------------------------------------------- */

/* SECTION-TESTIMONIAL */

/* ----------------------------------------------- */

@media (max-width: 992px) {
    
    .col-testimonial {
       
        &__heading {
            font-size: 29px;
        }
  
}
}

@media (max-width: 768px) {
    .col-testimonial {
            text-align: center;      
        
        &__heading {
            margin-top: 50px;
            font-size: 35px;
        }
        
        &__blockquote {
            font-size: 17px;
        }
        
        &__author {
            font-size: 17px;
        }
      
        &__text{
            font-size: 16px;
        }       
    }
}


@media (max-width: 576px) {
    .col-testimonial {
        text-align: center;
    }
}


/* ----------------------------------------------- */

/* SECTION-PRICING */

/* ----------------------------------------------- */


@media (max-width: 992px) {
    .col-pricing {

        &__heading {
            text-align: center;
        }

        &__text {
            text-align: center;
        }
    }
}


@media (max-width: 768px) {
    .col-pricing {

        &__heading {
            text-align: center;
        }

        &__text {
            text-align: center;
        }
    }

    
    .col-pricing-3 {
        text-align: center;
        
         &__heading {
         padding-left: 0;               
        }  
        &__text {
            margin-right: 0;
            padding-bottom: 0;
            text-align: center;
        }
        
        &__button {
            flex: none;
            margin-bottom: 30px;
        }
        
    }
}

@media (max-width: 576px) {
    .col-pricing {
        text-align: center;
    }
    
     .col-pricing-3 {
        text-align: center;
        
         &__heading {
         padding-left: 0;               
        }  
        &__text {
            margin-right: 0;
            padding-bottom: 0;
            text-align: center;
        }
        
        &__button {
            flex: none;
            margin-bottom: 30px;
        }
        
    }    
}


/* ----------------------------------------------- */

/* FOOTER */

/* ----------------------------------------------- */

@media (max-width: 768px) {
    .col-footer {
        &__img {
            padding-left: 20px;
        }
    }
}

@media (max-width:576px) {
    .col-footer {
        padding-left: 0;
        padding-right: 0;
        margin-top: 20px;
    }
    
    .col-footer-2__nav-footer {
    display: flex;
    margin-top: 40px;
}
}
